html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(230, 228, 228);
    background-color: black;
}

summary::-webkit-details-marker {
    display: none;
}
.atr{
    color: red;
}
.menu {
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 50px;
    line-height: 175%;
    padding: 10px;
    width: 80%;
}

.cmd {
    font-size: 14px;
}

.mark {
    color: #1a1a1a;
    background-color: whitesmoke;
    padding: 1px;
    border-radius: 5px;
}

.menu a, .submenu a {
    color: black;
    padding: 3px;
    border-radius: 5px;
}

    .menu a:hover, .submenu a:hover {
        color: black;
        background-color: rgba(0, 0, 0, 0.1);
    }

.submenu {
    text-align: left;
    box-sizing: border-box;
    background-color: white;
    line-height: 30px;
    margin: 0;
    margin-bottom: 50px;
    line-height: 175%;
    padding: 10px;
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 0 25%;
}

@media screen and (min-width: 1024px) {
    .menu {
        width: 70%;
        max-width: 1000px;
    }
}

@media screen and (max-width: 1023px) {
    .menu {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .menu {
        width: 90%;
        min-width: 500px;
    }

        .menu a {
            font-size: 18px;
        }
}

.container {
    box-sizing: border-box;
    background-color: #1a1a1a;
    margin: 0 auto;
    padding: 25px;
    width: 60%;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 70%;
        max-width: 1000px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 90%;
        min-width: 500px;
        font-size: 15px;
    }
}

a {
    text-decoration: none;
    color: rgb(115, 194, 197);
}

h1, h2, h3 {
    text-align: center;
    margin: 75px 0px 20px 0px;
}

h3 {
    font-size: 35px;
    color: white;
}

a:hover {
    color: rgb(17, 255, 255);
}

table {
    width: 100%;
}

td {
    border-top: 1px solid white;
    border-spacing: 10px;
    font-size: 20px;
}

img {
    display: block;
    margin: 0 auto;
}

#what {
    margin: 0px 0px 20px 0px;
}

.prettyprint {
    padding-left: 10px;
}
